/* Colors Used
#1F90BD
#353D40
#30748F
#00A4E6
*/
* {
box-sizing: border-box;
}
header {
    background: color #ffe4c4;
    text-align: center;
    padding: 10px 0;
}
body {
    background-color: #ECEDEE;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: black;
}
 h1, h2, h3, h4, h5 {
    line-height: 1.5;
 }
 h1 {
    font-size: 2.25em;
    font-weight: 700;
 }
 h2 {
    font-size: 1.75em;
    font-weight: 700;
 }
 h3 {
    font-size: 1.50em;
    font-weight: 700;
 }
 h4 { 
    font-size: 1.25em;
    font-weight: 400;
 }
 h5 { 
    font-size: 1.25em;
    font-weight: 400;
 }

 img {
    width: 100%;
  }

  a {
    color: #000000;
    text-decoration: none; /* No underlining */
  }
a:visited { /* visited link */
  color: #012695 ;
}
  a:hover {
    color: #00c15a;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #c1bb00;
  }
  a:focus {
    color: #1f90bd;
    text-decoration: underline;
  }

  .button {
    display: inline-block; 
    background-color: #30748F;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #003449; /* width of the border, type, color */
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button:active {
    color: #c1bb00;
  }
  .button.contact {
    background-color: transparent;
    color: #fa2525;
    text-transform: uppercase;
    border: 2px solid #fa2525;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }

/* styles.css */
.btn {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff7f50;
}
/* Layout Styling */

.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0; /* 25 px top and bottom*/
}
#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
    text-align: center; /* center text*/
}
.logo {
max-width: 250px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
}
nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
}
nav > ul > li > a:visited {
    color: #012695;
}
nav > ul > li > a:hover {
    color: #00c15a;
}

nav > ul > li > a:active {
    color: #c1bb00;
}
nav {
    display: inline-block;
    width: 100%;
}
#hero {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}
header {
    background-color: #ffe4c4;
    position: relative;
        width: [object Object]px; 
        height: [object Object]px; 
        background: #ffe4c4; 
        border: solid #000000 1px; 
        box-shadow: 1px 0 11px rgba(0, 0, 0, 0.4)  ; 
        -webkit-box-shadow: 1px 0 11px rgba(0, 0, 0, 0.4)  ; 
        -moz-box-shadow: 1px 0 11px rgba(0, 0, 0, 0.4)  ; 
    }